<div class="movieContainer">
{{#each movies}}
      <div class='movieList'>
        <a href="/movie/{{this.id}}">
        <img src="{{this.image}}" alt="{{this.name}}">
        </a>
        <p>{{this.title}}</p>
        <br>
        
        <br>
          <a href="/movie/{{this.id}}">See More</a>
      </div>
    {{else}} 
      <span>there are no movies to show</span>
    {{/each}}
</div>